<h1>Organize your monthly tasks</h1>
<p>Create and control your monthly tasks to never miss one. You can mark the tasks as completed. If you are reaching end of the month and some task is not complete, we will send you a reminder! Each month the task will automatically get back yo uncompleted.</p>

<ul>
  <% current_user.assignments.each do |a| %>
  <% #@tasks.each do |task| %>
    <li>
      <div class="wrapper">
        <%= a.task.description %>
        <%= check_box_tag "tasks_ids[]", a.task.id, a.task.completed, :class => "check" %>
        <%= link_to 'Delete task', task_path(a.task), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'Create task', new_task_path %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
